
/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a & */
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&family=Libre+Baskerville&family=Raleway&display=swap');
:root {
  /* change the values below to your colors from your palette */
  --primary-color:  #2A4d69 ;
  --secondary-color: #4b86b4 ;
  --accent1-color: #adcbe3;
  --accent2-color: white;

  /* change the values below to your chosen font(s) */
  --heading-font: "Asap Condensed";
  --paragraph-font: Lato, 'Libre Baskerville', 'Raleway';

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #396E94;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #396E94; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #396E94  ;
  --nav-link-color: white;
  --nav-background-color: #394F8A; 
  --nav-hover-link-color: white;
  --nav-hover-background-color: #396E94;
}


/*  Look around below...but DON'T CHANGE ANYTHING! */

body {
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
  background-color: #fcfbfb; 
  padding: 0;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
  color: #fcfbfb;
}
h2 {
  text-align: left;
  margin: 0;
  padding: 0;

}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header {
  padding: 1em;
  text-align: center;
  color: var(--headline-color-on-color);
  background-color: var(--paragraph-background-color);
  height: 5%;
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
  background-color:rgba(20,30,13, .7);
}
p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  padding: 1em;
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td{
  width: 25%;
  height: 3em;
}
.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color);
}
p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}
nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
nav  {
  list-style-type: none;
  display: flex;
}
nav a {
  padding: 35px;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  color: #2A4d69;
}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
  color: #394F8A;
}
.sitemap {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(6, 15%);
  grid-template-rows: 3em 1.5em 1.5em 3em;
  grid-template-areas: ". . home home . ."
    ". . . top . ."
    ". left left right right ."
    "page2 page2 . . page3 page3";
}
.sitemap > div {
  text-align: center;
}
.sm-home {
  grid-area: home;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page2 {
  grid-area: page2;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page3 {
  grid-area: page3;
  background-color: #ccc;
  line-height: 3em;
}
.top {
  grid-area: top;
  border-left: 1px solid;
}
.left {
  grid-area: left;
  border-top: 1px solid;
  border-left: 1px solid;
}
.right {
  grid-area: right;
  border-top: 1px solid;
  border-right: 1px solid;
}
.content {
  max-width: 1600;
  margin: 0 auto;
}
.background {
  height: 725px
}
#hero-msg h1 {
  text-align: center;
  margin: 0 auto;
  line-height: 1.5em;
  padding-top: 20px;
}
.hero {
  width: 100%;
}
#hero-msg h4 {
  text-align: center;
  margin: 0 auto;
}
.button-box {
  text-align: center;
  margin: 0 auto;
}
.main section {
  text-align: center;
  margin: 0 auto;
  box-sizing: border-box;
}
/* could be the wrong class or id maybe #logo-link*/
#logo-link {
  padding-top: 5px;
}
.logo {
  width: 80px;
  padding-top: 5px;
}
.icon {
  width: 80px;
  padding-top: 10px;
}
.home-title {
  color: #fcfbfb;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  margin-top: 10px;

}

.book {
  color: #396E94;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}

.join {
  color: #396E94;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}
.book:hover {
  color: #396E94;
}

.join:hover {
  color: #394F8A;
}
.msg h2 {
  color: #4b86b4;
  padding: 35px; /* you may need to seperate the .msg from h2 */
}
.msg p {
  color: #fcfbfb;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8em;
  padding-bottom: 15px;
}

.footer {
  color: #fcfbfb;
  padding: 25px 50px;
  margin-top: 200px;
}
.footer a {
  color: #394F8A;
  text-decoration: none;
}
.footer a:hover {
  color: #394F8A;
}
/* you may need a footer .social img*/
.footer p {
  font-size: 1.2em;
}
.rivers-card {
  margin: 299px 0;
}
.camping-card {
  margin: 200px 0;
}
.rapids-card {
  margin: 200px 0;
}
.card-img {
  border: 10px solid black;
}